{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    
    <form class = "col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <h2>Add Receipe</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
          <input type="text" name="receipe_name" required class="form-control" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Recipe Description</label>
          <textarea class="form-control" name="receipe_decription" required></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
            <input name="receipe_image" type="file" class="form-control" >
          </div>
        <button type="submit" class="btn btn-success">Add Receipe</button>
      </form>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Receipe Name</th>
          <th scope="col">Receipe Dec</th>
          <th scope="col">Receipe Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for rec in receipe %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{rec.receipe_name}}</td>
          <td>{{rec.receipe_decription}}</td>
          <td>
            <img src="/media/{{rec.receipe_image}}" style="height: 80px;"></img>
          </td>
          <td>
            <a href= "/delete-receipe/{{rec.id}}/" class="btn btn-danger">Delete<a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  
</div>  
    
{% endblock %}